@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.tracker {
  height: 17rem;
  background-color: $dark-background-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  &__title {
    text-align: center;
  }
  &__container {
    margin: 0 1rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
  }
  &__text {
    margin-top: 1rem;
    text-align: center;
  }
  &__hour {
    margin: 0;
    margin-top: 2rem;
    width: 16px;
    height: 2rem;
    display: flex;
    padding: 0;
    color: black;
    font-size: 1px;
    background-color: white;
    &--green {
      background-color: #18f0b8;
      color: #18f0b8;
    }
  }
  &__flex {
    @include lr-padding(1, 1);
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3rem;
  }
}
