/* primary Colors */
$primary-text-color: #ffffff;
$primary-graph-color: #f050f8;
$primary-background-color: #180048;
$dark-background-color: #100030;

/* Secondary Colors */
$secondary-text-color: #fa98ff;
$secondary-accent-color: #60f0f8;
$success: #18f0b8;
$error: #ff3e68;
$border-radius: 20px;

/* responsiveness*/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
