@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home {
  background-color: $primary-background-color;
  &__top {
    height: 500px;
    width: auto;
    background-image: url("../../assets/images/app-home.png");
    background-repeat: no-repeat;
    background-color: $primary-background-color;
  }
}
